<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Question text</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.quiz_id %></td>
        <td><%= question.question_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
