
<div class="borders">
<% @courses.each do |course| %>
    
    <div class="course-link cf">  
      <%= link_to 'Show', course %>
    </div>
  <div class="course "><h1>Learn: <%=link_to course.title, course %></h1>
      <span>Description: <%= course.body %></span>
    </div>
    


<% end %>
</div>
  

