<div class="container">
<div class="row">
<% @courses.each do |course| %>
  <div class='col-xs-4'><h1>Course: <%=link_to course.title %></h1>
  Description: <%= course.body %>
  </div>
  <div class='col-xs-4'></div>
  <div class='col-xs-4'><%= link_to 'Show', course %></div>

<% end %>
  </div>
</div>
<div>
  
  <br/>
<p><a href="/admin">Admin</a></p>
<p><a href="/users/sign_up">Sign Up </a></p>
</div>
