<p id="notice"><%= notice %></p>

<p>
  <strong>Alphabet:</strong>
  <%= @alphabet.title %>
</p>

<div class="row">
  <% i = 0 %>
<% @signs.each do |sign| %>


  <div class="col-md-2">
    <h3> <%= sign.character %>  </h3>
<span> <%= sign.explanation %></span>
    </div>
  <% i = i + 1 %>
    <% if (i % 6 ==0) and i != 0 %>
  </div>  <div class="row">
  <% end %>
  

<% end %>
</div>
