<p id="notice"><%= notice %></p>

<h1>
  <strong>Alphabet:</strong>
  <%= link_to @alphabet.title, @alphabet.course %>
</h1>

<div class="row">
  <% i = 0 %>
<% @signs.each do |sign| %>


  <div class="col-lg-4">
    <h3> <%= sign.character %>  </h3>
<span> <%= sign.explanation %></span>
    </div>
  <% i = i + 1 %>
    <% if (i % 3==0) and i != 0 %>
  </div>  <div class="row">
  <% end %>
  

<% end %>
</div>
