<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @correct_answer.question_id %>
</p>

<p>
  <strong>Correctanswertext:</strong>
  <%= @correct_answer.correctAnswerText %>
</p>
