// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align:left;
  margin:0 auto;
}

.lesson-title {
  text-align:left;
  background-color:white;
  margin-bottom:10px;
}

.left-column {
  float:right;
}

#dialog {
  background-color:white;
}

.ui-dialog-titlebar {
  background-color:white;
}

ui-dialog button {
  display:none;
}


#footer {
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    width: 100%;
    background: #222;
    color: #fff;
    text-align: center;
}

#footer h1 { 
    padding: 10px; 
    text-align:center;
}
